/*
	Background 
 */


:root{
	--blip-bg-opacity: 1;
};

.appearance-none {
  -webkit-appearance: none;
          appearance: none;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-local {
  background-attachment: local;
}

.bg-scroll {
  background-attachment: scroll;
}

.bg-clip-border {
  background-clip: border-box;
}

.bg-clip-padding {
  background-clip: padding-box;
}

.bg-clip-content {
  background-clip: content-box;
}

.bg-clip-text {
  -webkit-background-clip: text;
          background-clip: text;
}

.bg-transparent {
  background-color: transparent;
}

.bg-current {
  background-color: currentColor;
}

.bg-black {
  background-color: rgba(0, 0, 0, var(--blip-bg-opacity));
}

.bg-white {
  background-color: rgba(255, 255, 255, var(--blip-bg-opacity));
}

.bg-gray-50 {
  background-color: rgba(249, 250, 251, var(--blip-bg-opacity));
}

.bg-gray-100 {
  background-color: rgba(243, 244, 246, var(--blip-bg-opacity));
}

.bg-gray-200 {
  background-color: rgba(229, 231, 235, var(--blip-bg-opacity));
}

.bg-gray-300 {
  background-color: rgba(209, 213, 219, var(--blip-bg-opacity));
}

.bg-gray-400 {
  background-color: rgba(156, 163, 175, var(--blip-bg-opacity));
}

.bg-gray-500 {
  background-color: rgba(107, 114, 128, var(--blip-bg-opacity));
}

.bg-gray-600 {
  background-color: rgba(75, 85, 99, var(--blip-bg-opacity));
}

.bg-gray-700 {
  background-color: rgba(55, 65, 81, var(--blip-bg-opacity));
}

.bg-gray-800 {
  background-color: rgba(31, 41, 55, var(--blip-bg-opacity));
}

.bg-gray-900 {
  background-color: rgba(17, 24, 39, var(--blip-bg-opacity));
}

.bg-red-50 {
  background-color: rgba(254, 242, 242, var(--blip-bg-opacity));
}

.bg-red-100 {
  background-color: rgba(254, 226, 226, var(--blip-bg-opacity));
}

.bg-red-200 {
  background-color: rgba(254, 202, 202, var(--blip-bg-opacity));
}

.bg-red-300 {
  background-color: rgba(252, 165, 165, var(--blip-bg-opacity));
}

.bg-red-400 {
  background-color: rgba(248, 113, 113, var(--blip-bg-opacity));
}

.bg-red-500 {
  background-color: rgba(239, 68, 68, var(--blip-bg-opacity));
}

.bg-red-600 {
  background-color: rgba(220, 38, 38, var(--blip-bg-opacity));
}

.bg-red-700 {
  background-color: rgba(185, 28, 28, var(--blip-bg-opacity));
}

.bg-red-800 {
  background-color: rgba(153, 27, 27, var(--blip-bg-opacity));
}

.bg-red-900 {
  background-color: rgba(127, 29, 29, var(--blip-bg-opacity));
}

.bg-yellow-50 {
  background-color: rgba(255, 251, 235, var(--blip-bg-opacity));
}

.bg-yellow-100 {
  background-color: rgba(254, 243, 199, var(--blip-bg-opacity));
}

.bg-yellow-200 {
  background-color: rgba(253, 230, 138, var(--blip-bg-opacity));
}

.bg-yellow-300 {
  background-color: rgba(252, 211, 77, var(--blip-bg-opacity));
}

.bg-yellow-400 {
  background-color: rgba(251, 191, 36, var(--blip-bg-opacity));
}

.bg-yellow-500 {
  background-color: rgba(245, 158, 11, var(--blip-bg-opacity));
}

.bg-yellow-600 {
  background-color: rgba(217, 119, 6, var(--blip-bg-opacity));
}

.bg-yellow-700 {
  background-color: rgba(180, 83, 9, var(--blip-bg-opacity));
}

.bg-yellow-800 {
  background-color: rgba(146, 64, 14, var(--blip-bg-opacity));
}

.bg-yellow-900 {
  background-color: rgba(120, 53, 15, var(--blip-bg-opacity));
}

.bg-green-50 {
  background-color: rgba(236, 253, 245, var(--blip-bg-opacity));
}

.bg-green-100 {
  background-color: rgba(209, 250, 229, var(--blip-bg-opacity));
}

.bg-green-200 {
  background-color: rgba(167, 243, 208, var(--blip-bg-opacity));
}

.bg-green-300 {
  background-color: rgba(110, 231, 183, var(--blip-bg-opacity));
}

.bg-green-400 {
  background-color: rgba(52, 211, 153, var(--blip-bg-opacity));
}

.bg-green-500 {
  background-color: rgba(16, 185, 129, var(--blip-bg-opacity));
}

.bg-green-600 {
  background-color: rgba(5, 150, 105, var(--blip-bg-opacity));
}

.bg-green-700 {
  background-color: rgba(4, 120, 87, var(--blip-bg-opacity));
}

.bg-green-800 {
  background-color: rgba(6, 95, 70, var(--blip-bg-opacity));
}

.bg-green-900 {
  background-color: rgba(6, 78, 59, var(--blip-bg-opacity));
}

.bg-blue-50 {
  background-color: rgba(239, 246, 255, var(--blip-bg-opacity));
}

.bg-blue-100 {
  background-color: rgba(219, 234, 254, var(--blip-bg-opacity));
}

.bg-blue-200 {
  background-color: rgba(191, 219, 254, var(--blip-bg-opacity));
}

.bg-blue-300 {
  background-color: rgba(147, 197, 253, var(--blip-bg-opacity));
}

.bg-blue-400 {
  background-color: rgba(96, 165, 250, var(--blip-bg-opacity));
}

.bg-blue-500 {
  background-color: rgba(59, 130, 246, var(--blip-bg-opacity));
}

.bg-blue-600 {
  background-color: rgba(37, 99, 235, var(--blip-bg-opacity));
}

.bg-blue-700 {
  background-color: rgba(29, 78, 216, var(--blip-bg-opacity));
}

.bg-blue-800 {
  background-color: rgba(30, 64, 175, var(--blip-bg-opacity));
}

.bg-blue-900 {
  background-color: rgba(30, 58, 138, var(--blip-bg-opacity));
}

.bg-indigo-50 {
  background-color: rgba(238, 242, 255, var(--blip-bg-opacity));
}

.bg-indigo-100 {
  background-color: rgba(224, 231, 255, var(--blip-bg-opacity));
}

.bg-indigo-200 {
  background-color: rgba(199, 210, 254, var(--blip-bg-opacity));
}

.bg-indigo-300 {
  background-color: rgba(165, 180, 252, var(--blip-bg-opacity));
}

.bg-indigo-400 {
  background-color: rgba(129, 140, 248, var(--blip-bg-opacity));
}

.bg-indigo-500 {
  background-color: rgba(99, 102, 241, var(--blip-bg-opacity));
}

.bg-indigo-600 {
  background-color: rgba(79, 70, 229, var(--blip-bg-opacity));
}

.bg-indigo-700 {
  background-color: rgba(67, 56, 202, var(--blip-bg-opacity));
}

.bg-indigo-800 {
  background-color: rgba(55, 48, 163, var(--blip-bg-opacity));
}

.bg-indigo-900 {
  background-color: rgba(49, 46, 129, var(--blip-bg-opacity));
}

.bg-purple-50 {
  background-color: rgba(245, 243, 255, var(--blip-bg-opacity));
}

.bg-purple-100 {
  background-color: rgba(237, 233, 254, var(--blip-bg-opacity));
}

.bg-purple-200 {
  background-color: rgba(221, 214, 254, var(--blip-bg-opacity));
}

.bg-purple-300 {
  background-color: rgba(196, 181, 253, var(--blip-bg-opacity));
}

.bg-purple-400 {
  background-color: rgba(167, 139, 250, var(--blip-bg-opacity));
}

.bg-purple-500 {
  background-color: rgba(139, 92, 246, var(--blip-bg-opacity));
}

.bg-purple-600 {
  background-color: rgba(124, 58, 237, var(--blip-bg-opacity));
}

.bg-purple-700 {
  background-color: rgba(109, 40, 217, var(--blip-bg-opacity));
}

.bg-purple-800 {
  background-color: rgba(91, 33, 182, var(--blip-bg-opacity));
}

.bg-purple-900 {
  background-color: rgba(76, 29, 149, var(--blip-bg-opacity));
}

.bg-pink-50 {
  background-color: rgba(253, 242, 248, var(--blip-bg-opacity));
}

.bg-pink-100 {
  background-color: rgba(252, 231, 243, var(--blip-bg-opacity));
}

.bg-pink-200 {
  background-color: rgba(251, 207, 232, var(--blip-bg-opacity));
}

.bg-pink-300 {
  background-color: rgba(249, 168, 212, var(--blip-bg-opacity));
}

.bg-pink-400 {
  background-color: rgba(244, 114, 182, var(--blip-bg-opacity));
}

.bg-pink-500 {
  background-color: rgba(236, 72, 153, var(--blip-bg-opacity));
}

.bg-pink-600 {
  background-color: rgba(219, 39, 119, var(--blip-bg-opacity));
}

.bg-pink-700 {
  background-color: rgba(190, 24, 93, var(--blip-bg-opacity));
}

.bg-pink-800 {
  background-color: rgba(157, 23, 77, var(--blip-bg-opacity));
}

.bg-pink-900 {
  background-color: rgba(131, 24, 67, var(--blip-bg-opacity));
}